mat-form-field {
  font-size: larger;
  color: var(--on-surface);
}

form {
  padding-top: 5%;
}

.mat-fab {
  width: 65px;
  height: 65px;
  background-color: var(--primary);
  color: var(--on-primary);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

mat-hint {
  color: var(--on-surface) !important;
}

.placeholder {
  color: var(--on-surface);
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px var(--surface) inset;
  -webkit-text-fill-color: var(--on-surface);
}

mat-error{
  font-size: small;
  color:var(--on-surface);
}

#session_enter-button:focus {
  background: var(--on-surface);
  color: var(--background);
}

.join-room {
  transform: scale(1.5);
}
