<h2 tabindex="0">»Haben Sie Fragen?«</h2>

<img tabindex="-1"
     src="/assets/background/auditorium.webp"
     class="screenshot"
     width="811"
     height="185"
     alt="Auditorium">

<div tabindex="0">
  <p>Vorträge, Vorlesungen und seit Corona auch Online-Seminare enden in der Regel mit: »Haben Sie Fragen?«. Und stets meldet sich niemand oder es fragen
    immer dieselben wenigen.
     Im Konferenzsaal traut sich kaum jemand oder die Fragen, die man im Verlauf des
    Vortrags eigentlich stellen wollte, sind vergessen.
     Im Video-Konferenzsystem agiert man nicht anonym. Die Sitzung wird möglicherweise aufgezeichnet.
     Die Mikrofone sind stumm,
     der Chat wird schnell unübersichtlich und der Vortragende kann den Kommentaren und Fragen kaum mehr folgen.</p>

  <p>Wem daran liegt, dass seine Vorträge und Online-Seminare
    hinterfragt werden, braucht ein Tool zum anonymen und stillen Fragenstellen.
    Ein solches Open-Source-Tool steht mit »frag.jetzt« kostenlos zur freien Verfügung.
     Gibt es Bedenken? Ist das Tool barrierefrei, daten&shy;schutz&shy;kon&shy;form,
    sofort ohne Einarbeitung und ohne technisches Verständnis mit jedem Endgerät nutzbar? Dreimal ja.</p>

  <p>Wenn ich »frag.jetzt« anonym und somit ohne soziale Kontrolle verwenden lasse, lade ich dann nicht auch zum
    Missbrauch ein? Nein, denn die öffentliche Fragenliste kann von einer Hilfskraft live moderiert werden: Nur vortragsadäquate
    Fragen verbleiben auf der Liste. Außerdem kannst du alle neuen Fragen automatisch in die Moderation verschieben:
    Sie werden erst öffentlich, wenn du oder dein Moderator sie einzeln freigibst.
  </p>

  <p>Aber ich kann doch nicht alle Fragen in den letzten zehn Minuten meines Vortrags oder im Online-Seminar
    beantworten. Klar. Hier kommt der kollektive Tool-Aspekt zum Tragen: Jeder im Auditorium kann jede Frage bewerten,
    neudeutsch: up oder down voten. Die vom Auditorium am höchsten bewerteten Fragen kannst du sofort beantworten, die
    anderen, falls du es willst, später noch in »frag.jetzt«, da die Sitzung eines registrierten Users fortbesteht.
     Auch kannst du das Tool bereits vor der Veranstaltung einsetzen,
     um Fragen der Teilnehmenden zu sammeln und sie gegenseitig zum Gewichten zur Verfügung zu stellen.
     Das bindet die Teilnehmenden schon vor der Veranstaltung mit ein,
     ermöglicht eine Abfrage von Erwartungen und Vorwissen und hilft, deinen Vortrag oder dein Seminar entsprechend anzupassen.</p>
</div>
<h2 tabindex="0">
  Das Besondere an »frag.jetzt«
</h2>
<p>
  Was unterscheidet unser Backchannel-Tool von »Mentimeter«, »Slido«, »Poll Everywhere« und vielen anderen kommerziellen Feedback-Apps?
  Es ist das Ergebnis langjähriger Erfahrungen mit Audience-Response-Systemen in der Präsenz- und Online-Lehre.
  Neben einer intuitiven Bedienbarkeit, belegt in empirischen UX-Studien mit hunderten Studierenden,
  waren didaktische und motivationale Kriterien bestimmend für die Konzeption und Entwicklung der App,
  siehe unseren <a class="info" href="https://arsnova.thm.de/blog/literatur/" target="_blank">ARSnova-Blog<span>Öffnet neue Seite</span></a>:

</p>
<div tabindex="0">
  <p>
    <strong>Fragen auszeichnen</strong><br><br>Der Vortragende oder ein Moderator kann gute Fragen mit einem Stern auszeichnen.
    Sterne, die ein Moderator vergibt, helfen dem Vortragenden bei der Entscheidung, welche Fragen er live besprechen sollte.
    Die Fragensteller finden zu jedem erworbenen Stern einen 8-ziffrigen Code (»Token«) auf ihrem Sitzungskonto.
    Die Tokens können per Mail an den Vortragenden in Bonuspunkte eingelöst werden.
    Der Vortragende überprüft die eingereichten Tokens anhand der vergebenen im Token-Archiv seiner Sitzung.
  </p>
  <p>
    <strong>Fragen beantworten oder markieren</strong><br><br>Sitzungsersteller und Moderatoren können Fragen bejahen, verneinen, kommentieren oder als besprochen markieren.
    Natürlich können die Symbole auch für andere Zwecke der Markierung verwendet werden.
    Sie dienen zugleich als Filterkriterien zum schnellen Auffinden markierter Fragen.
    Dass Zuhörer Fragen nicht kommentieren können, ist gewollt: »frag.jetzt« soll kein Facebook oder Twitter sein.
    Würden wir es erlauben, wären die Zuhörer mit dem gegenseitigen Kommentieren ihrer Fragen beschäftigt.
  </p>
  <p>
    <strong>Fragen kategorisieren</strong><br><br>
    Der Sitzungsersteller kann Kategorien (»Tags«) für Fragen definieren.
    Der Fragensteller kann seine Frage einer der vorgegebenen Kategorien zuordnen.
    Kategorisierte Fragen können durch Klicken des »Tags« gefiltert werden.
    Das Tagging ermöglicht es dem Moderator einer Podiumsdiskussion,
    die Fragen aus dem Publikum nach Themen oder Adressaten zu filtern:
    Tag »Frage an Herrn Scholz«, Tag »Frage an Herrn Söder« …
  </p>
  <p>
    <strong>Fragen fokussiert präsentieren</strong><br><br>
    Für die Besprechung der Fragen am Beamer können diese einzeln in Vollansicht präsentiert werden.
    Das Weiterschalten zur nächsten Frage erfolgt bequem mit der Leertaste.
    Man kann die Anzeige auch im »Kiosk-Modus« schalten:
    Dann werden eingehende neue Fragen automatisch in Vollansicht gezeigt.
    Der Wechsel zur nächsten Frage wird verzögert, um das Lesen zu ermöglichen.
    Auf dem Fragenboard können laufend neue Fragen oder Bewertungen das Lesen und Präsentieren erschweren, da sich die Positionen der Fragen ändern.
    Mit dem Pause-Icon kann der Fragenstrom eingefroren werden.
    Neue Fragen oder Bewertungen sind aber weiterhin möglich.
    Klickt der Vortragende auf eine Frage auf dem Fragenboard, erscheint diese in Vollansicht.
    Gleichzeitig blitzt die Frage auf den Endgeräten aller Teilnehmenden auf, um deren Aufmerksamkeit zu bekommen.
  </p>
  <p>
    <strong>Fragen durchsuchen, sortieren und filtern</strong><br><br>
    Das schnelle Auffinden bestimmter Fragen wird durch Such-, Sortier- und Filteroptionen ermöglicht.
    Die Volltextsuche schließt auch die Antworten mit ein.
    Das Sortieren ist nach der Zeit und Bewertung möglich.
    Als Filterkriterien stehen zur Auswahl: ausgezeichnete, beantwortete, besprochene und eigene Fragen.
    Mit Klick auf das Tag-Icon an einer Frage werden alle Fragen dieser Kategorie angezeigt.
    Mit Klick auf das User-Icon an einer Frage werden alle Fragen dieses Users angezeigt.
    So lässt sich die Verteilung der Fragen unter den Fragenstellern beurteilen:
    Wie viele Personen beteiligen sich? Welche Fragen stellt ein und dieselbe Person?
  </p>
  <p>
    <strong>Kostenfrei bei voller Funktionalität</strong><br><br>Es können beliebig viele Sitzungen kostenlos als Gast oder registrierter User erstellt werden.
    Die Sitzungen registrierter User bleiben dauerhaft erhalten.
    Erst 180 Tage nach der letzten Nutzung einer Sitzung wird diese automatisch gelöscht.
    Alle Fragen können mit ihren Bewertungen und Kommentaren in einer Excel-Tabelle gespeichert werden.
  </p>
  <p>
    <strong>Barrierefrei</strong><br><br>In »frag.jetzt« werden die Use Cases von einem Audioguide vorgelesen und sind mit den numerischen Tasten navigierbar.
    Dies erlaubt es, die App komfortabel und schnell zu nutzen, ohne zuvor die gesamte Seite mit dem Screen Reader zu erkunden.
    Die Benutzerschnittstelle genügt den Anforderungen an Lesbarkeit gemäß WCAG 2.1 AA.
    Für die Beamer-Präsentation und für sehbeeinträchtigte Personen stehen entsprechende Anzeigeoptionen zur Verfügung.
    Insbesondere kann die Schriftgröße der Fragen skaliert werden.
    Neben dem Raum-Code kann eine Session auch über einen automatisch generierten Link (Klemmbrett-Icon auf der Sitzungs-Seite) betreten werden.
  </p>
  <p>
    <strong>Datenschutz</strong><br><br>»frag.jetzt« kann bei einer Anmeldung als Gast vollständig anonym verwendet werden.
    Die Konten registrierter User werden datenschutzkonform nach den Vorgaben der DSGVO gespeichert und verwaltet.
    Der Programmcode ist »Open Source Software« und einsehbar auf <a class="info" href="https://github.com/thm-projects/frag.jetzt" target="_blank">
    GitHub<span>Öffnet neue Seite</span></a>.
    »frag.jetzt« wird als »Software as a Service« von der TransMIT GmbH auf Servern in Deutschland betrieben, siehe Impressum.
    Wer »frag.jetzt« auf einem eigenen Server betreiben will, findet eine Docker-Installationsanleitung auf
    <a class="info"
       href="https://github.com/thm-projects/frag.jetzt/blob/master/README.md"
       target="_blank">GitHub <span>Öffnet ein neues Fenster</span>
    </a>
    oder kann die TransMit GmbH damit beauftragen.
  </p>
  <p>
    <strong>»Progressive Web App« (PWA)</strong><br><br>
    Obwohl eine gewöhnliche Webseite, verhält sie sich wie eine App aus dem App Store.
    Du kannst sie aus dem Browser heraus ohne Download installieren: »Zur Startseite hinzufügen«.
    Danach startet sie wie eine gewöhnliche App.
    Als PWA läuft sie auf jedem Smartphone, egal welches Betriebssystem, egal welcher Browser.
    So wird dein Publikum immer bereit sein, »frag.jetzt« vorort und spontan zu nutzen.
  </p>
  <p>
    <strong>Freie Software, frei von Werbung</strong><br><br>
    »frag.jetzt« ist seit dem Wintersemester 2019/20 ein Open-Source-Projekt der Technischen Hochschule Mittelhessen, THM.
    Die Website ist herstellerneutral und frei von Werbung.
    Die Weiterentwicklung ist für die nächsten fünf Jahre garantiert.
    Dann geht der Projektleiter in Pension und wird das Projekt als Hobby betreiben.
    Aber bis dahin werden hunderte Informatikstudierende der THM engagiert und kontinuierlich an allen Aspekten der Software-Entwicklung
    (User Experience, Hochverfügbarkeit und Sicherheit) weiter arbeiten  – nicht für Geld, sondern Credit Points und gute Noten.
  </p>
  <p>
    <strong>Ausblick</strong><br><br>
    Wir werden in nächster Zeit »frag.jetzt« in das freie Video-Konferenzsystem »Big&shy;Blue&shy;Button« (BBB) als Plugin integrieren.
    So werden wir alle Vorteile unserer Feedback-App in BBB anbieten können, ohne zwischen den Browser-Tabs wechseln zu müssen.
    Stay tuned!
  </p>
</div>

<h2 tabindex="0">Studierende online aktivieren</h2>

<p>
  Wer Online-Seminare in einem Videokonferenzsystem 90 Minuten lang gehalten hat,
  weiß, was es heißt, gegen eine »digitale Wand« zu sprechen:
  Reden ohne Feedback mit der Tendenz zum Selbstgespräch.
  Ob die Teilnehmer wirklich zuhören, das Gehörte verstehen oder überhaupt präsent sind, sieht man nicht.
  Ihre Kameras sind abgeschaltet.
  Wie man trotz der Wand mit Backchannel-Tools wie »frag.jetzt« Studierende aktivieren kann,
  erläutert Malte Persike:
</p>

<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://www.youtube.com/embed/lj1HMvZ73xY?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<h2 tabindex="0">Handy-Nutzung im Hörsaal</h2>
<div tabindex="0">
  <p>
    Die Nutzung des Smartphones während der Veranstaltung bringt ein hohes Ablenkungsrisiko mit sich.
    Wir haben aus unserer langjährigen Erfahrung mit Audience-Response-Systemen im Hörsaal gelernt,
    wie man das Ablenkungsrisiko didaktisch angehen kann:
  </p>

  <ol>
    <li>
      <p>Handy-Nutzung während der Vorlesung:</p>
      Eine Hilfskraft moderiert die Fragenliste vor Ort oder aus der Ferne.
      10 Minuten vor Ende der Vorlesung beantwortet die Lehrperson 2-3 Top-Fragen am Beamer.
      <br><br>
      Was wenn ich keine Hilfskraft zur Verfügung habe?
      Folge dem Rat von Malte Persike aus dem Video oben:
      Frage jemanden aus der ersten Reihe, diesen Job zu übernehmen.
      Sie oder er wird nicht Nein sagen.
    </li>
    <li>
      <p>Handy-Nutzung nur in der Pause:</p>
      Die Lehrperson gibt den Raum-Code in der Pause bekannt und moderiert die Fragen selbst.
      Nach der Pause beantwortet sie 2-3 Top-Fragen.
    </li>
    <li>
      <p> Keine Handy-Nutzung während der Vorlesung:</p>
      Die Lehrperson erstellt eine neue Sitzung am Ende jeder Vorlesung.
      Die Studierenden können zuhause Fragen stellen und bewerten.
      Die Fragenliste moderiert eine Hilfskraft oder die Lehrperson selbst.
      In den ersten 10 Minuten der nächsten Vorlesung geht die Lehrperson auf 2-3 Top-Fragen ein.
    </li>
    <li>
      <p>Keine Handy-Nutzung während der Vorlesung:</p>
      Die Lehrperson erstellt eine Sitzung für die gesamte Dauer des Kurses.
      Eine Hilfskraft moderiert die Fragenliste während des Semesters.
      Die Lehrperson markiert die relevanten Fragen und löscht alle anderen.
      Die Fragenliste dient so der Reflexion der Vorlesungsinhalte und zur Vorbereitung auf die Klausur.
    </li>
  </ol>
</div>

<h2 tabindex=0>Icons und Buttons</h2>

<img tabindex=-1 src="/assets/images/poster.webp"
     class="screenshot"
     width="850"
     height="1200"
     alt="Info-Poster zu frag.jetzt">

<h2 tabindex="0">Fragenboard aus Teilnehmersicht</h2>

<img tabindex=-1 src="/assets/images/participant.webp"
     class="screenshot"
     width="400"
     height="805"
     alt="Screenshot einer Frage">

<p tabindex="0">Kopfleiste des Fra&shy;gen&shy;boards</p>
<ol tabindex="0">
  <li>Zurück zur vorherigen Seite</li>
  <li>Sitzung wird moderiert</li>
  <li>QR-Code der Sitzung</li>
  <li>Besuchte Sitzungen und erhaltene Sterne</li>
</ol>

<p tabindex="0">Werkzeugleiste des Fra&shy;gen&shy;boards</p>
<ol tabindex="0">
  <li>Anzahl eingegangener Fragen</li>
  <li>Fragenliste durchsuchen</li>
  <li>Fragen sortieren</li>
  <li>Fragen filtern</li>
  <li>Fragenstrom anhalten</li>
  <li>Frage stellen</li>
</ol>

<p tabindex="0">Obere Werkzeugleiste einer Fragenkarte</p>
<ol tabindex="0">
  <li>Zeitstempel der Frage</li>
  <li>Dozent hat die Frage besprochen (Beamer-Icon)</li>
  <li>Dozent hat die Frage kommentiert</li>
  <li>Dozent hat die Frage bejaht</li>
  <li>Die Frage wurde vom Dozenten oder Moderator mit einem Stern ausgezeichnet</li>
</ol>

<p tabindex="0">Untere Werkzeugleiste einer Fragenkarte</p>
<ol tabindex="0">
  <li>Fragen nach der Kategorie (Tag-Icon) filtern</li>
  <li>Fragen einer bestimmten Person (User-Icon) filtern</li>
</ol>


<h2 tabindex="0">Sitzungsverwaltung aus Dozentensicht</h2>

<img tabindex=-1 src="/assets/images/lecturer.webp"
     class="screenshot"
     width="800"
     height="600"
     alt="Screenshot der Optionen für die Sitzungsverwaltung">

<p tabindex="0">Mit einem Klick auf das Zahnrad-Icon öffnest du die Verwaltungs&shy;optionen:</p>
<ol tabindex="0">
  <li>Sitzung: Hier kannst du den Namen der Sitzung ändern und eine Beschreibung hinzufügen.
      Für die Textformatierung steht dir <a class="info" href="https://de.wikipedia.org/wiki/Markdown" target="_blank">Markdown<span>Öffnet neue Seite</span></a> zur Verfügung.
    Hier ist auch der Ort, um die Sitzung mit allen Fragen und Bewertungen zu löschen.
  </li>
  <li>Fragen: Du kannst einen Schwellenwert für die Veröffentlichung einer Frage festlegen,
    das heißt, ab welcher negativen Bewertung eine Frage angezeigt wird. Der Wert liegt zwischen -100 und 0.

    Weiterhin legst du fest, ob neue Fragen vor der Moderation sofort angezeigt werden sollen.

    Hier ist auch der Ort, um alle Fragen mit ihren Bewertungen in eine Excel-Tabelle zu exportieren.

    Ferner kannst du alle Fragen löschen, um die Sitzung aufs Neue zu verwenden.
  </li>
  <li>Moderatoren: Als Moderatoren können registrierte User aufgenommen werden.
    Dazu benötigst du deren Mailadresse, mit der er oder sie sich registriert hat.
  </li>
  <li>Tokens für Bonus-Sterne: Wenn du eine Frage mit einem Stern auszeichnest,
    wird ein 8-ziffriger Code (»Token«) für die Frage generiert und hier gelistet.
    Der Autor der Frage findet den Token in seinem Konto und kann damit den Bonus bei dir einlösen.
  </li>
  <li>Tags: Hier kannst du sitzungsspezifische Kategorien festlegen (»Tags«), die deine Zuhörer zum Verschlagworten
    (»Taggen«) ihrer Fragen verwenden können.
    Der Tag erscheint dann bei der jeweiligen Frage.
    Mit einem Klick darauf, werden alle Fragen mit diesem Tag gefiltert.
  </li>
</ol>

<h2 tabindex="0">Rollenkonzept von »frag.jetzt«</h2>

<div class="video">
  <div class="videoWrapper">
    <iframe tabindex="0"
            width="560" height="315"
            src="https://www.youtube.com/embed/qHRC6z9VtWs?autoplay=0" frameborder="0"
            allowfullscreen
    ></iframe>
  </div>
</div>

<div id="demoContentTranscript" class="overflow_hide" tabindex="2">
  <h2>Willkommen zur Demo von frag.jetzt!</h2>


  <p>Mein Name ist Klaus Quibeldey-Cirkel. Ich bin Informatik-Professor an der Technischen Hochschule Mittelhessen und
    Projektleiter von frag.jetzt.
    Im Impressum der App finden Sie eine detaillierte Beschreibung des Projekts.</p>

  <p>Nun zur Demo:
    In frag.jetzt gibt es drei Rollen: die Lehrperson, die Studentin oder den Studenten und die Moderatorin oder den
    Moderator.
    Entsprechend sehen Sie drei Browser, in denen ich in in der jeweiligen Rolle das Nutzungs-Szenario von frag.jetzt
    demonstrieren werde.</p>

  <p>Eine Sitzung erstellen Sie mit einem Klick auf den Plus-Button.
    Sie geben Ihrer Sitzung eine Bezeichnung
    und das war es auch schon!
    Ihren Studierenden teilen Sie den Raum-Code oder den Link der Sitzung mit.</p>


  <p>Als Student gebe ich nun den Raum-Code ein oder den Link zur Sitzung.
    Ich könnte sofort eine Frage stellen. Aber zunächst möchte ich den Moderator des Fragen-Boards ins Spiel bringen:
    Dazu gehe ich in meine Sitzung, rufe die Einstellungen auf und dort den Menüpunkt „Fragen“.</p>


  <p>Standardmäßig ist die Moderation aktiviert und alle Fragen der Studierenden werden direkt veröffentlicht.
    Wenn die Freigabe einer Frage durch den Moderator erfolgen soll, ist der entsprechende Schalter umzulegen.
    Mit dem Schwellenwert-Schalter kann ich bestimmen, ab welcher negativen Bewertung Fragen überhaupt angezeigt
    werden
    sollen.
    Nun muss ich noch einen Moderator in meine Sitzung aufnehmen:
    Dazu trage ich seine Mailadresse ein, mit der er sich bei frag.jetzt registriert hat.
    Ich melde mich nun als Moderator an der App an und gehe in die zu moderierende Sitzung.
    In der Vorlesung gehe ich auf das Fragen-Board der Sitzung in der Rolle des Moderators
    und in der Rolle des Dozenten und warte auf Fragen seitens der Studierenden.
    Als Moderator kann ich unerwünschte oder nicht zielführende Fragen vom Fragen-Board verbannen.
    Ich könnte auch geschlossene Fragen (auf die ich mit Ja oder Nein antworten kann) mit den entsprechenden Icons
    auszeichnen
    und besonders interessante Fragen mit einem Stern hervorheben.
    Alle Teilnehmerinnen und Teilnehmer sehen diese Bewertungen.</p>

  <p>Als Dozent kann ich die von den Studierenden mehrheitlich hoch bewerteten Fragen am Ende der Vorlesung
    besprechen.
    Dazu klicke ich auf die Frage.
    Diese wird in Vollansicht am Beamer angezeigt und in den Browsern der Teilnehmenden optisch hervorgehoben.
    Ein Moderator kann Fragen nur vom Fragen-Board verbannen, nicht aber löschen. Das kann nur der Dozent.</p>

  <p>Alle weiteren Funktionen, wie das Sortieren und Filtern von Fragen oder das Anhalten des Fragen-Streams,
    können Sie spielerisch herausfinden, indem Sie selbst zwei oder drei Browser auf Ihrem Laptop nebeneinander
    stellen
    und das Nutzungs-Szenario in verschiedenen Rollen durchspielen.
    Wie Sie frag.jetzt in Ihrer Vorlesung oder in Ihrem Kurs über das Semester einsetzen können, beschreibe ich weiter
    unten.</p>

  <p>Ich danke Ihnen für Ihr Interesse an frag.jetzt und freue mich über Ihr Feedback. Meine Mailadresse finden Sie im
    Impressum.</p>
</div>

<h2 tabindex="0">Feedback an die Entwickler</h2>

<p tabindex="0">
  Gehe in den Raum »Feedback« für Fragen, Anregungen, Lob und Kritik.
    Weitere Informationen findest du im <a class="info" href="https://arsnova.thm.de/blog/frag-jetzt/" target="_blank">ARSnova-Blog<span>Öffnet neue Seite</span></a>.
</p>

<h2 tabindex="0">Screen Reader und »Gender«-gerechte Sprache</h2>

<p tabindex="0">
  Screen Reader für sehbeeinträchtigte oder blinde Personen sprechen »gegenderte« Nomen unverständlich aus.
  Wir verwenden deshalb das
  <a class="info"
     href="https://de.wikipedia.org/wiki/Generisches_Maskulinum"
     rel="noreferrer"
     target="_blank">Generische Maskulinum<span>Öffnet neue Seite</span></a>
  für Texte und Labels in der App.
  <br><br>

  Auf der Grundlage eigener Tests mit blinden Personen empfehlen wir folgende Screen Reader für die Nutzung von »frag.jetzt«:
  <br><br>

  Windows-Rechner:
  <a class="info"
     href="http://nvda.bhvd.de/"
     rel="noreferrer"
     target="_blank">NVDA<span>Öffnet neue Seite</span></a>
  <br>
  Linux-Rechner:
  <a class="info"
     href="http://www.chromevox.com/installing.html"
     rel="noreferrer"
     target="_blank">ChromeVox<span>Öffnet neue Seite</span></a>
  <br>
  macOS-Rechner:
  <a class="info"
     href="https://help.apple.com/voiceover/mac/"
     rel="noreferrer"
     target="_blank">VoiceOver<span>Öffnet neue Seite</span></a>
  <br>
</p>
